$mixinMaskFeedbackActiveColor: rgba(black, 0.2) !default;
$mixinOpacityFeedbackActiveOpacity: 0.6 !default;
$mixinMaskFeedbackHoverColor: rgba(black, 0.1) !default;
$mixinOpacityFeedbackHoverOpacity: 0.8 !default;
