// 多行文字溢出显示省略号
 @mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    overflow: hidden;
    // ref: https://juejin.im/post/5ce4abb0518825332550c105
    /*! autoprefixer: off */
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    /* autoprefixer: on */
    /*! autoprefixer: on */
  }
}
