@import '../_variables';

// 遮罩反馈
@mixin maskFeedback($position: relative) {
  position: $position;
  cursor: pointer;
  user-select: none;

  &:hover,
  &.hover {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: $mixinMaskFeedbackHoverColor;
    }
  }

  &:active,
  &.active {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: $mixinMaskFeedbackActiveColor;
    }
  }
}
