@import '../_variables';

// 半透明反馈
@mixin opacityFeedback() {
  cursor: pointer;
  user-select: none;

  &:hover,
  &.hover {
    opacity: $mixinOpacityFeedbackHoverOpacity;
  }

  &:active,
  &.active {
    opacity: $mixinOpacityFeedbackActiveOpacity;
  }
}
