$mixinMaskFeedbackActiveColor: blue;
$mixinMaskFeedbackHoverColor: green;
$mixinOpacityFeedbackActiveOpacity: 0.5;
$mixinOpacityFeedbackHoverOpacity: 0.1;

@import '../lib/index';

.demo {
  @include ellipsis;
  @include maskFeedback;
  @include opacityFeedback;
  @include size(40px);
}
