name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    if: ${{ startsWith(github.event.head_commit.message, 'chore(release):') }}
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
          registry-url: 'https://registry.npmjs.org'
      # - uses: actions/cache@v2
      #   id: cache
      #   with:
      #     path: node_modules
      #     key: ${{ hashFiles('pnpm-lock.yaml') }}
      # - if: ${{ steps.cache.outputs.cache-hit != 'true' }}
      #   run: npx pnpm -v && npx pnpm install --frozen-lockfile
      - run: |
          npx pnpm -v && npx pnpm install --registry https://registry.npmjs.org
          rm -rf node_modules/.cache
          npm run build
          npm run test-with-coverage

          if $IS_BETA; then
            npm run publish-package-next
          else
            npm run publish-package
          fi

          curl 'https://npm.taobao.org/sync/vtils?sync_upstream=true' \
            -X 'PUT' \
            -H 'authority: npm.taobao.org' \
            -H 'content-length: 0' \
            -H 'accept: application/json, text/javascript, */*; q=0.01' \
            -H 'dnt: 1' \
            -H 'x-requested-with: XMLHttpRequest' \
            -H 'user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36' \
            -H 'origin: https://npm.taobao.org' \
            -H 'sec-fetch-site: same-origin' \
            -H 'sec-fetch-mode: cors' \
            -H 'sec-fetch-dest: empty' \
            -H 'referer: https://npm.taobao.org/sync/vtils' \
            -H 'accept-language: zh,en-US;q=0.9,en;q=0.8,zh-TW;q=0.7,zh-CN;q=0.6' \
            --compressed || true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          IS_BETA: ${{ contains(github.event.head_commit.message, 'beta') }}
      - uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: docs/dist
          TARGET_FOLDER: v4
      - uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: coverage/lcov-report
          TARGET_FOLDER: v4-coverage
